header {
    display: flex;
    align-items: center;
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
}

/*header::before {
    content: url('images/AirBnb');
}*/

header .logo {
    background-image: url("../images/logo.png");
}