.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.

.filters button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;

}